:root{
    
    --Yellowcolor:#FFC320;
    --Bluecolor:#005DCB;
    --BluecolorDark:#002A5C;
    --Bluecolor30: rgba(0,93,203,0.2);
    --colorBluesky:#7ABDFF;
    --Box-shadow:0px 5px 21px 0px var(--Bluecolor30);
    --Box-shadow-comments:0px 15px 30px 0px rgba(0,0,0,0.16);
    --WhiteText:#EAEFF4;
    --Greycolor:#EAEFF4;
    --padding:1.5em;

    --title:'DM Serif Display', serif;
    --texts: 'IBM Plex Sans', sans-serif;
    --maxwith:1440px;
    --marginBottomTittle:1em;
    --titlesize: 3em;
}

body, *{
    margin: 0;
    box-sizing: content-box;
    font-family: var(--texts );
    color: var(--BluecolorDark);
    list-style: none;
}
ul, li{
    font-size: 16px;
    padding: 0;
    
}
picture, figure{
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
}

.flex.between{
    justify-content: space-between;
}

.flex.evenly{
    justify-content: space-evenly;
}

.flex.around{
    justify-content: space-around;
}

.flex.center{
    justify-content: center;
}

.flex.left{
    justify-content: left;
}
.horizontal{
    display: flex;
    justify-content: space-between;
}

.alingcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.maxwidth{
    max-width: var(--maxwith);
    margin: 0 auto;
       
}

.paddingSection{
    padding: 5em 2.5em;
}


.paddingH{
    padding: 3em;
    
}

.paddingH.w{
    padding-top: 1em;
    padding-bottom: 1em;
}

.gridauto{
    display: grid;
    row-gap:2em;
    grid-auto-flow: columns;

}


.responsive{
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.title{
    font-family: var(--title);
    font-size: var(--titlesize);
    
}
.title.aligncenter{
    text-align: center;
}

.title.left{
    text-align: left;
}
.title.white{
    color:white
}

.btn{
    padding: 1.5em 4em;
    color:white;
    font-weight:bold ;
    font-size:1em;
}

.btn.blue{

    background-color: var(--Bluecolor);
}
