main{
    display: flex;
    justify-content: center;
    padding: 3.5em 2.5em ;
    /*height: 100vh;*/
}

main img{

    max-width: 100%;
    width: 50%;
    object-fit: contain;
    object-position: bottom;
    height: auto;
    max-height: fit-content;
    /*box-shadow: 0px 13px 28px 0px var(--Bluecolor30);
    -webkit-box-shadow: 0px 13px 28px 0px var(--Bluecolor30);
    -moz-box-shadow: 0px 13px 28px 0px var(--Bluecolor30);*/

}
.main__container{
    padding-right: 1em;
}

.main__container h1{
    font-size: 3.9em;
    color: var(--BluecolorDark);
    font-family: var(--title);
    margin-bottom:.5em ;
}

.main__container p{
    font-size: 1.5em;
    font-family: var(--texts );
    margin-bottom: 1.5em;
    color: var(--BluecolorDark);
}
.form{
    padding: .5em;
    border: 1px var(--WhiteText) solid;
    margin-top: 2.5em;
}
.main__container .form__label{
    font-size: 1em;
    font-family: var(--texts );
    margin-bottom: 2em;
}

.form__input{
    padding-left: 3em;
    background-color: var(--WhiteText);
    border: none;
    width: 100%;
}

.form__submit{
    padding: 1em;
    background-color: var(--BluecolorDark);
    border: none;
    color:var(--WhiteText);
    font-size: 1.1em;
    font-weight: bold;
    
}

.form__input::-webkit-input-placeholder { /* WebKit browsers */
    color: var(--BluecolorDark);
    font-family: var(--texts);
    font-weight: bold;
}

.alingCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_arrow{
    margin-bottom: 4em;
}

@media screen and (max-width:769px) and (max-width:426px) and (orientation:portrait) {
    .main{
        flex-direction: column-reverse;
        align-items: center;
    }

    main img {
        width: 100%;
        margin-bottom: 2em;
    }
}